.terminal {
    z-index: 99 !important;
    background-color: #212121;
    color: #fff;
    border: 0 none;
    min-height: 18rem;
    height: 100%;
    border: 1px solid #d3d3d3;
    top: 30vh;
    left: 30vw;
    width: 33vw;
    height: 33vh;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem;
    font-weight: normal;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.stonk {
    background-color: #212121;
    width: 350px;
    height: 250px;
}

.terminal-header {
    padding: 5px;
    text-align: center;
    border-bottom: 0 none;
    background: #ffffff;
    color: #343a40;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}